.Container {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(2, 375px);
  row-gap: 25px;
  column-gap: 20px;
  justify-content: center;
  align-content: center;
  height: 100%;
}
